<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up / Sign In</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.3/dist/sweetalert2.min.css" rel="stylesheet">

    <style>
        .loading-screen {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: radial-gradient(#3E64D3, #4505e7);
            color: white;
            font-size: 24px;
            text-align: center;
            z-index: 9999;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .platform-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .platform-row i {
            margin-right: 10px;
        }

        .checkbox {
            cursor: pointer;
        }
    </style>

    <link href="{{url_for('static', filename='main/styles/home.css')}}" rel="stylesheet">
</head>

<body>
    <div class="loading-screen" id="loadingScreen">
        Sending the Mail...
    </div>
    <div class="page-content">
        <div class="form-left"></div>
        <div class="form-right">
            <div class="tab">
                <button class="tablink signin active" onclick="showSignInForm()">Sign In</button>
                <button class="tablink register" onclick="showRegisterForm()">Sign Up</button>
            </div>
            <form id="signInForm" class="form-detail active" method="POST" action="{{ url_for('main.user_login') }}">
                <div class="form-row">
                    <select id="role" class="input-text select" name="role" onchange="toggleForgetPassword()">
                        <option value="">Select Role</option>
                        <option value="admin" {% if user_role=="admin" %}selected{% endif %}>Admin</option>
                        <option value="influencer" {% if user_role=="influencer" %}selected{% endif %}>Influencer
                        </option>
                        <option value="sponsor" {% if user_role=="sponsor" %}selected{% endif %}>Sponsor</option>
                    </select>
                    <span id="role-error" class="error-message"></span>
                </div>
                <div class="form-row">
                    <input type="email" id="signin-email" name="email" class="input-text" placeholder="Email"
                        value="{{ user_login_email }}">
                    <span id="signin-email-error" class="error-message"></span>
                </div>
                <div class="form-row">
                    <div class="input-container">
                        <input type="password" id="signin-password" name="password" class="input-text"
                            placeholder="Password">
                        <span class="eye-toggle"
                            onclick="togglePasswordVisibility('signin-password', this.children[0])">
                            <i id="eye-icon" class="fas fa-eye-slash"></i>
                        </span>
                    </div>
                    <span id="signin-password-error" class="error-message"></span>
                </div>
                <div class="form-row remember-me" style="margin-top: -2vh">
                    <input type="checkbox" name="remember_me" id="remember-me">
                    <label for="remember-me" style="font-weight: 200; color: rgb(71, 70, 70);">Remember me</label>
                    <div class="form-row-last">
                        <input type="submit" class="signin" value="Sign In">
                    </div>
                </div>
                <div class="switch-link">You haven't registered yet? <b onclick="showRegisterForm()">Register</b></div>
                <a id="forget-password" class="forget-password" onclick="showForgotPasswordPopup()"
                    style="display: none;">Forget Password?</a>
            </form>





            <div id="registerForm" class="form-detail">
                <div class="tab">
                    <button class="tablinks active" onclick="openRole(event, 'Influencer')">Influencer</button>
                    <button class="tablinks" onclick="openRole(event, 'Sponsor')">Sponsor</button>
                </div>

                <form id="InfluencerForm" class="form-detail active" method="POST"
                    action="{{url_for('influencer.influencer_register')}}">
                    <div class="form-row">
                        <input type="text" id="influencer-username" name='username' class="input-text"
                            placeholder="Username">
                        <span id="influencer-username-error" class="error-message"></span>
                    </div>
                    <div class="form-row">
                        <input type="email" id="influencer-email" name='email' class="input-text" placeholder="Email">
                        <span id="influencer-email-error" class="error-message"></span>
                    </div>
                    <div class="form-row">
                        <input type="text" id="influencer-niche" name='niche' class="input-text" placeholder="Niche">
                        <span id="influencer-niche-error" class="error-message"></span>
                    </div>
                    <div class="form-row">
                        <div class="input-container">
                            <input type="password" id="influencer-password" name='password' class="input-text"
                                placeholder="Password">
                            <span class="eye-toggle"
                                onclick="togglePasswordVisibility('influencer-password', this.children[0])">
                                <i id="eye-icon-password" class="fas fa-eye-slash"></i>
                            </span>
                        </div>
                        <span id="influencer-password-error" class="error-message"></span>
                    </div>
                    <div class="form-row">
                        <div class="input-container">
                            <input type="password" id="influencer-confirm-password" class="input-text"
                                placeholder="Confirm Password">
                            <span class="eye-toggle"
                                onclick="togglePasswordVisibility('influencer-confirm-password', this.children[0])">
                                <i id="eye-icon-confirm-password" class="fas fa-eye-slash"></i>
                            </span>
                        </div>
                        <span id="influencer-confirm-password-error" class="error-message"></span>
                    </div>
                    <div class="form-row">
                        <div class="platform-icons" id="platform-icons">
                            <div class="platform-row">
                                <input type="radio" class="checkbox" id="youtube-checkbox" name="platform"
                                    data-platform="youtube" value="youtube">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="platform-row">
                                <input type="radio" class="checkbox" id="twitter-checkbox" name="platform"
                                    data-platform="twitter" value="twitter">
                                <i class="fa-brands fa-x-twitter"></i>
                            </div>
                            <div class="platform-row">
                                <input type="radio" class="checkbox" id="instagram-checkbox" name="platform"
                                    data-platform="instagram" value="instagram">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                        <span id="influencer-platform-error" class="error-message"></span>
                    </div>
                    <div class="form-row-last">
                        <input type="submit" class="register" value="Register">
                    </div>
                    <div class="switch-link">Did you register already?<b onclick="showSignInForm()"> Sign In</b></div>
                </form>

                <form id="SponsorForm" class="form-detail" method="POST"
                    action="{{url_for('sponsor.sponsor_register')}}">
                    <div class="form-row">
                        <input type="text" id="sponsor-companyname" class="input-text" placeholder="Company Name"
                            name="sponsor_company_name">
                        <span id="sponsor-companyname-error" class="error-message"></span>
                    </div>
                    <div class="form-row">
                        <input type="email" id="sponsor-email" class="input-text" placeholder="Email"
                            name="sponsor_email">
                        <span id="sponsor-email-error" class="error-message"></span>
                    </div>
                    <div class="form-row">
                        <div class="input-container">
                            <input type="password" id="sponsor-password" class="input-text" placeholder="Password"
                                name="sponsor_password">
                            <span class="eye-toggle"
                                onclick="togglePasswordVisibility('sponsor-password',this.children[0])">
                                <i id="eye-icon-password" class="fas fa-eye-slash"></i>
                            </span>
                        </div>
                        <span id="sponsor-password-error" class="error-message"></span>
                    </div>
                    <div class="form-row">
                        <div class="input-container">
                            <input type="password" id="sponsor-confirm-password" class="input-text"
                                placeholder="Confirm Password">
                            <span class="eye-toggle"
                                onclick="togglePasswordVisibility('sponsor-confirm-password',this.children[0])">
                                <i id="eye-icon-confirm-password" class="fas fa-eye-slash"></i>
                            </span>
                        </div>
                        <span id="sponsor-confirm-password-error" class="error-message"></span>
                    </div>
                    <div class="form-row-last">
                        <input type="submit" class="register" value="Register">
                    </div>
                    <div class="switch-link">Did you register already?<b onclick="showSignInForm()"> Sign In</b></div>
                </form>


                <script src="{{url_for('static', filename='main/scripts/home.js')}}"></script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <script>
                    Swal.fire({
                        icon: '{{ category }}',
                        title: '{{ message }}',
                        showConfirmButton: false,
                        timer: 3000
                    });
                </script>
                {% endfor %}
                {% endif %}
                {% endwith %}

</body>

</html>