<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - NOT ALLOWED</title>
    <link rel="stylesheet" href="{{url_for('static', filename='errors/styles/404.css')}}">
</head>

<body>

    <section class="wrapper">
        <div class="container">
            <div id="scene" class="scene" data-hover-only="false">
                <div class="circle" data-depth="1.2"></div>
                <div class="one" data-depth="0.9">
                    <div class="content">
                    </div>
                </div>

                <div class="two" data-depth="0.60">
                    <div class="content">
                    </div>
                </div>

                <div class="three" data-depth="0.40">
                    <div class="content">
                    </div>
                </div>
                <p class="p404" data-depth="0.50">405</p>
                <p class="p404" data-depth="0.10">405</p>
            </div>

            <div class="text">
                <article>
                    <p>(Method not allowed) <br> Uh oh! Looks like you used the wrong way. <br>Go back to where you are
                        working before!</p>
                    <a href="javascript:history.go(-1)"><button>Go Back</button></a>
                </article>
            </div>

        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>

</html>